<div class="subscribe">
  <div class="cont">
    <div class="row ">
      <div class="col-lg-4 m">
        <div class="col1">
          <h2 class="num">1000+</h2>
          <p class="p">Ui component</p>
        </div>
      </div>
      <div class="col-lg-4 n">
        <div class="col1">
          <h2 class="num">5</h2>
          <p class="p">Software type files</p>
        </div>
      </div>
      <div class="col-lg-4 b">
        <div class="col1">
          <h2 class="num">5</h2>
          <p class="p">Weakly uploads</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cont2">
  <div class="layover">
    <div class="sign col1">
      <h3 class="cap">Join our newsletter </h3>
      <p class="p">weekly free ui resources straight to your inbox</p>
      <div class="email">
        <input class="input1" type="text" placeholder="Your email">
        <a href="#" class="button"> sign up</a>
      </div>
    </div>
  </div>
</div>
