.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #ea4335;
}
.navbar{
  .navbar-nav{
    .nav-link{
      margin: 0 10px;
    }
  }
  .navIcon{
    svg{
      margin-left: 10px;
    }
  }
}
// a{
//   color: #00F;
//   &.active{
//   }
// }

